# Dynamic programming illustration - Fibonacci numbers

They are defined by

$$F_n = F_{n-1} + F_{n-2}, 
$$

with

$$F_0 = 0, F_1 = 1 
$$

Naively:

In [23]:
def fib(n):
    if n<=1: return n
    else: return fib(n-1)+ fib(n-2)

In [24]:
[fib(n) for n in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Let's see how many times each is called:

In [26]:
import pandas as pd
    
def fib(n):
    fibc[n] = fibc.setdefault(n, 0) + 1
    
    if n<=1: return n
    else: return fib(n-1)+ fib(n-2)

    
def showfibc(n):
    global fibc
    fibc = {}
    fib(n)
    calls = pd.DataFrame.from_dict(fibc, 'index', columns=['# calls']).sort_index()
    print(f'Total: {calls.sum()}')
    return calls

In [27]:
showfibc(0)

Total: # calls    1
dtype: int64

   # calls
0        1

In [28]:
showfibc(1)

Total: # calls    1
dtype: int64

   # calls
1        1

In [29]:
showfibc(2)

Total: # calls    3
dtype: int64

   # calls
0        1
1        1
2        1

In [30]:
showfibc(4)

Total: # calls    9
dtype: int64

   # calls
0        2
1        3
2        2
3        1
4        1

This is what we're seeing:
![](https://static.wixstatic.com/media/5bd5a9_91df944b76ca4e9ba4fe62f948618f32~mv2.png/v1/fill/w_695,h_416,al_c,lg_1,q_90/5bd5a9_91df944b76ca4e9ba4fe62f948618f32~mv2.webp)

[ Image credit: dynamicprogramming.com ]

In [33]:
showfibc(25)

Total: # calls    242785
dtype: int64

    # calls
0     46368
1     75025
2     46368
3     28657
4     17711
5     10946
6      6765
7      4181
8      2584
9      1597
10      987
11      610
12      377
13      233
14      144
15       89
16       55
17       34
18       21
19       13
20        8
21        5
22        3
23        2
24        1
25        1

# Strategy 1: memoize

In [39]:
def mfib(n):

    mfibc[n] = mfibc.setdefault(n, 0) + 1
    
    # Cached data check - if we have the data, nothing else to be done
    val = mfibd.get(n)
    if val is not None:
        return val

    if n<=1: out = n
    else: out = mfib(n-1)+ mfib(n-2)
    mfibd[n] = out
    return out

    
def showmfibc(n):
    global mfibc, mfibd
    mfibc = {}
    mfibd = {}
    mfib(n)
    calls = pd.DataFrame.from_dict(mfibc, 'index', columns=['# calls']).sort_index()
    print(f'Total: {calls.sum()}')
    return calls

In [40]:
[fib(n) for n in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [41]:
[mfib(n) for n in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [42]:
showmfibc(1)

Total: # calls    1
dtype: int64

   # calls
1        1

In [46]:
showmfibc(20)

Total: # calls    39
dtype: int64

    # calls
0         1
1         2
2         2
3         2
4         2
5         2
6         2
7         2
8         2
9         2
10        2
11        2
12        2
13        2
14        2
15        2
16        2
17        2
18        2
19        1
20        1

In [45]:
showfibc(20)

Total: # calls    21891
dtype: int64

    # calls
0      4181
1      6765
2      4181
3      2584
4      1597
5       987
6       610
7       377
8       233
9       144
10       89
11       55
12       34
13       21
14       13
15        8
16        5
17        3
18        2
19        1
20        1

# Strategy 2: tabulate

In [47]:
def tfib(n):

    if n<=1: return n
 
    # This stores O(n) info, can be optimized away with two simple locals
    # keeping only F_{i-1} and F_{i-2}
    F = {}
    F[0] = 0 
    F[1] = 1
    
    for i in range(2, n+1):
        F[i] = F[i-1] + F[i-2]
    return F[n]

In [48]:
[fib(n) for n in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [49]:
[tfib(n) for n in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]